.DS_Store
Thumbs.db

# Azure tooling
.vscode/
.azure/
.azure-config/
.azd/
.azure-functions-core-tools/
function/.azurite/
**/.azurite/
function/local.settings.json
function/bin/
function/obj/
function/Modules/Microsoft.Graph.*/
function/Modules/Az.*/

# Logs
*.log
**/logs/
function.zip

# Env files
.env
.env.*

# Project specific
tmp/
tests/
